@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

.navbar{
font-family:'Ruslan Display', "cursive";
background-color:darkgrey;
color: black!important;
}

.section-card{
    font-family: "Courgette","serif";
    color:white
}

.card{
    transition: all 0.2s ease;
    cursor: pointer;
}
.card:hover {
    box-shadow: 2px 2px 2px 2px #e9ecef;
    transform: scale(0.9)
}
.title{
font-family:'Ruslan Display', "cursive";
text-align: center;
padding:20px;
background-color:darkgrey;
color:black;

}

.link{
    font-family: "Courgette","serif";
}